img{width: 100%;}
.h1o{ margin-top: 40px; color: red; text-align: center;}
.h1p{ margin-top: 40px; color: blue; text-align: center;}
.c1{text-align: center;}
.h1a{text-align: center; color: silver;}
.div2{margin-top: 20px;}
.div3row1{margin-top: 10px;}
.div3row2{margin-top: 20px;}