.nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin-bottom: 20px;
  }
  

  #p1{
    color: white;
    font-size: 20px;
    margin-left: 20px;
  }

  #p2{
    color: white;
    font-size: 20px;
    margin-left: 20px;

  }
  #p3{
    color: white;
    font-size: 20px;
    margin-left: 20px;

  }
  
  .nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  .nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  .active {
    background-color: black;
    color: white;
  }
