img{width: 100%;}
.head1{text-align: center;}
.div1{margin: 30px;}
.div3{margin-top: 30px;}
.div4{margin-top: 30px;}
.imgb{margin: 10px;}
.p2{margin-top: 10px;}
.imga{margin-top: 10px;}
.row1{margin-bottom: 10px;}
.imgc{height: 350px;}

